html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form{
    background-color: rgb(59, 59, 59);
    max-width: 800px;
    min-height: 270px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}


fieldset{
    border: none;
    margin: 0 15px 0 15px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input{
    width: 110px;
    float: right;
}

